@model CarPriceComparison.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Page";
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>
}
<h2>Contact Me</h2>
<form method="post">
    <span asp-validation-summary="ModelOnly"></span>
    @if(ViewBag.UserMessage != null)
    {
        <div class="w3-text-green">@ViewBag.UserMessage</div>
    }
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="EMail">Email</label>
        <input class="form-control" asp-for="EMail" type="email"/>
        <span asp-validation-for="EMail"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message">Message</label>
        <textarea class="form-control" cols="40" rows="5" asp-for="Message"></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-controller="home" asp-action="Index">Cancel</a>
        <input class="btn btn-success" type="submit" value="Send Message"/>
    </div>
</form>
