@model CarPriceComparison.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Page";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<!--<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.min.js"></script>-->
<h2>Contact Me</h2>
<form>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name"/>
    </div>
    <div>
        <label asp-for="EMail">Email</label>
        <input asp-for="EMail" type="email"/>
    </div>
    <div>
        <label asp-for="Message">Message</label>
        <textarea cols="40" rows="5" asp-for="Message"></textarea>
    </div>
    <div>
        <input type="submit" value="Send Message"/>
    </div>
</form>
<script type="text/javascript" src="~/js/site.js"></script>