
<!DOCTYPE <!DOCTYPE html>
<body>
    <h5 id="usernameheader"> NOT SET BY JAVASCRIPT </h5>
    <form>
        <label>Select Vehicle Details      : </label>
        <label>Make</label>
        <input></input>
        <label> Model</label>
        <input></input>
        <input type="submit" value="Search Kamloops"/>
    </form>
</body>
