@model IEnumerable<CarPriceComparison.Models.VehicleMake>
<!DOCTYPE <!DOCTYPE html>

@section scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
}

<h2 class="col-md-8 offset-md-2">Search Kamloops for sold vehicles</h2>
    <div class="row">
        <form method="post" class="col-md-8 offset-md-2">
            <div class="form-row">
                <div class="col">
                    @Html.DropDownList("VehicleMakeDropDown", new SelectList(Model, "Id", "Make"), 
                                       "-- Select Make --", 
                                       new { htmlAttributes = new { @class = "form-control" } })
                </div> 
                <div class="col"> 
                    @Html.DropDownList("Test", new SelectList(Model, "Id", "Make"), 
                                       "-- Select Model --", 
                                       new { htmlAttributes = new { @class = "form-control" } })
                </div> 
                <div class="col">
                    <input class="btn btn-success" type="submit" value="Search Kamloops"/>
                </div>
            </div>
        </form>
    </div>

