
<!DOCTYPE <!DOCTYPE html>

<h2 class="col-md-8 offset-md-2">Search Kamloops for sold vehicles</h2>
    <div class="row">
        <form method="post" class="col-md-8 offset-md-2">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Make"></input>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Model"></input>
                </div>
                <div class="col">
                    <input class="btn btn-success" type="submit" value="Search Kamloops"/>
                </div>
            </div>
        </form>
    </div>

