
<!DOCTYPE <!DOCTYPE html>
<body>
    <label id="usernameheader"> NOT SET BY JAVASCRIPT </label>
    <form>
            <label>Select Vehicle Details      : </label>
            <label>Make</label>
            <input></input>
            <label> Model</label>
            <input></input>
            <input type="submit" value="Search Kamloops"/>
        </form>
</body>
